* {
  padding: 0;
  margin: 0;
}

html {
  background: url(bglogin.jpg);
  background-size: cover;
}

.text {
  background: rgba(0, 0, 0, 0.71);
  text-align: center;
  position: relative;
  float: center;
  left: 40%;
  padding: 50px;
  border: 0;
  border-radius: 20px;
  top: 20%;
  width: 250px;
  height: 300px;
}

.isi {
  padding-top: 50px;


}
a,
a:link,
a:visited,
a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.52);
}

h1 {
  color: rgba(255, 255, 255, 0.52);
}
.account{
  color: rgba(255, 255, 255, 0.52);
}

.input {
  text-align: center;
  height: 35px;
  width: 250px;
  border-radius: 7px;
  justify-content: space-around;
}

.isi button {
  background: rgb(8, 82, 101);
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  border-top: 40px;
  font-size: 20px;
  width: 250px;
  margin: 20px auto;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
